<% include partials/header %>
    <div class="ui main segment container text">
        <div class="ui huge header"><%= dblog.title%></div>
        <div class="ui to attached ">
            <div class="item">
                <img class="ui centered rounded image" src='<%=dblog.image%>'>
                <div class="content">
                    <span><%=dblog.created.toDateString()%></span>
                </div>
                <div class="description">
                    <p>
                        <%= dblog.body%>
                    </p>
                <a  class="ui purple basic button" href="/blogs/<%=dblog._id%>/edit">Edit</a>
                <form id='delete' action="/blogs/<%=dblog._id%>?_method=DELETE" method="POST">
                    <button class="ui red basic button">Delete</button>
                </form>    
                </div>
            </div>
        </div>
        
        
        
    </div>
    
    
   


<% include partials/footer %>